---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Boxing Undefeated',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero>
    <Fragment slot='title'>Boxing Undefeated</Fragment>
  </Hero>

  <!-- customize these -->
  <a href=''><h2 class='container mx-auto text-2xl font-extrabold'>Reviews</h2></a>
  <BlogLatestPosts collection='post' />
</Layout>
